USE [master]
GO
/****** Object:  Database [Mydb]    Script Date: 6/19/2017 1:04:03 PM ******/
CREATE DATABASE [Mydb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mydb_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Mydb_Data.mdf' , SIZE = 6208KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Mydb_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Mydb_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mydb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mydb]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/19/2017 1:04:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6/19/2017 1:04:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CommentText] [nvarchar](255) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/19/2017 1:04:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NULL,
	[PWD] [nvarchar](255) NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Marital Status] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[Income] [float] NULL,
	[Children] [float] NULL,
	[Education] [nvarchar](255) NULL,
	[Occupation] [nvarchar](255) NULL,
	[Home Owner] [nvarchar](255) NULL,
	[Cars] [float] NULL,
	[Commute Distance] [nvarchar](255) NULL,
	[Region] [nvarchar](255) NULL,
	[Age] [float] NULL,
	[Buy] [nvarchar](255) NULL,
	[Is_Admin] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/19/2017 1:04:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [nvarchar](255) NOT NULL,
	[CustomerID] [int] NULL,
	[ordDate] [date] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrdersDetails]    Script Date: 6/19/2017 1:04:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersDetails](
	[OrdsID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [nvarchar](255) NULL,
	[ProductID] [int] NULL,
	[ProductPrice] [float] NULL,
 CONSTRAINT [PK_OrdersDetails] PRIMARY KEY CLUSTERED 
(
	[OrdsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/19/2017 1:04:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[ProductPrice] [float] NULL,
	[Manufacturer] [nvarchar](255) NULL,
	[Features] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rates]    Script Date: 6/19/2017 1:04:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rates](
	[RateID] [int] IDENTITY(1,1) NOT NULL,
	[RateValue] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_Rates] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Cleaners')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Hydration Packs')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Road Bikes')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [CommentText], [CustomerID], [ProductID]) VALUES (1, N'Nice Product', 11047, 1)
INSERT [dbo].[Comments] ([CommentID], [CommentText], [CustomerID], [ProductID]) VALUES (3, N'awsem ^_^', 11061, 1)
INSERT [dbo].[Comments] ([CommentID], [CommentText], [CustomerID], [ProductID]) VALUES (4, N'Write Comment herevb', 11047, 2)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [UserName], [PWD], [FirstName], [LastName], [Marital Status], [Gender], [Income], [Children], [Education], [Occupation], [Home Owner], [Cars], [Commute Distance], [Region], [Age], [Buy], [Is_Admin]) VALUES (11000, N'test0', N'test0', N'test0', N'test0', N'Married', N'Male', 90000, 2, N'Bachelors', N'Professional', N'Yes', 0, N'1-2 Miles', N'Pacific', 40, N'Yes', 0)
INSERT [dbo].[Customers] ([CustomerID], [UserName], [PWD], [FirstName], [LastName], [Marital Status], [Gender], [Income], [Children], [Education], [Occupation], [Home Owner], [Cars], [Commute Distance], [Region], [Age], [Buy], [Is_Admin]) VALUES (11047, N'test1', N'test1', N'test1', N'test1', N'Married', N'Female', 30000, 3, N'High School', N'Skilled Manual', N'No', 2, N'1-2 Miles', N'Pacific', 56, N'Yes', 0)
INSERT [dbo].[Customers] ([CustomerID], [UserName], [PWD], [FirstName], [LastName], [Marital Status], [Gender], [Income], [Children], [Education], [Occupation], [Home Owner], [Cars], [Commute Distance], [Region], [Age], [Buy], [Is_Admin]) VALUES (11061, N'test2', N'test2', N'test2', N'test2', N'Married', N'Male', 80000, 2, N'Partial College', N'Skilled Manual', N'Yes', 2, N'5-10 Miles', N'Pacific', 52, N'Yes', 0)
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [ordDate]) VALUES (N'SO61269', 24381, CAST(N'2015-10-10' AS Date))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [ordDate]) VALUES (N'SO61270', 25597, CAST(N'2015-09-01' AS Date))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [ordDate]) VALUES (N'SO61271', 27974, CAST(N'2015-09-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[OrdersDetails] ON 

INSERT [dbo].[OrdersDetails] ([OrdsID], [OrderID], [ProductID], [ProductPrice]) VALUES (1, N'SO61269', 30, 53.99)
INSERT [dbo].[OrdersDetails] ([OrdsID], [OrderID], [ProductID], [ProductPrice]) VALUES (2, N'SO61269', 13, 49.99)
INSERT [dbo].[OrdersDetails] ([OrdsID], [OrderID], [ProductID], [ProductPrice]) VALUES (3, N'SO61270', 5, 21.98)
GO
SET IDENTITY_INSERT [dbo].[OrdersDetails] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductPrice], [Manufacturer], [Features], [Description], [CategoryID]) VALUES (1, N'All-Purpose Bike Stand', 159, N'Some Data here', N'Some Data here', N'Some Data here', 7)
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductPrice], [Manufacturer], [Features], [Description], [CategoryID]) VALUES (2, N'Bike Wash', 7.95, N'Some Data here', N'Some Data here', N'Some Data here', 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductPrice], [Manufacturer], [Features], [Description], [CategoryID]) VALUES (3, N'Classic Vest', 63.5, N'Some Data here', N'Some Data here', N'Some Data here', 5)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Rates] ON 

INSERT [dbo].[Rates] ([RateID], [RateValue], [ProductID]) VALUES (1, 5, 1)
INSERT [dbo].[Rates] ([RateID], [RateValue], [ProductID]) VALUES (2, 2, 14)
INSERT [dbo].[Rates] ([RateID], [RateValue], [ProductID]) VALUES (3, 3, 14)
SET IDENTITY_INSERT [dbo].[Rates] OFF
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Customers]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrdersDetails] CHECK CONSTRAINT [FK_OrdersDetails_Orders]
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrdersDetails] CHECK CONSTRAINT [FK_OrdersDetails_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Rates]  WITH CHECK ADD  CONSTRAINT [FK_Rates_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rates] CHECK CONSTRAINT [FK_Rates_Products]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Category]    Script Date: 6/19/2017 1:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Delete_Category]

@CategoryID int 
as
delete from Categories where Categories.CategoryID=@CategoryID 
GO
/****** Object:  StoredProcedure [dbo].[Delete_Product]    Script Date: 6/19/2017 1:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_Product]
@ProductID int 
as
delete from Products where ProductID=@ProductID
GO
/****** Object:  StoredProcedure [dbo].[Get_monthly_Report]    Script Date: 6/19/2017 1:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Get_monthly_Report]
@monthdate nvarchar(10)
as
SELECT     Orders.ordDate,SUM( OrdersDetails.ProductPrice ) as 'total'
FROM         Orders INNER JOIN
                      OrdersDetails ON Orders.OrderID = OrdersDetails.OrderID
                      
                      where DATEPART(MM,ordDate)=@monthdate
                      group by ordDate 
                      order by ordDate 
GO
/****** Object:  StoredProcedure [dbo].[Insert_Category]    Script Date: 6/19/2017 1:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Insert_Category]
@CategoryName nvarchar(255),
@CategoryID int output
as
insert into Categories values (@CategoryName)
set @CategoryID =@@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[Insert_Comment]    Script Date: 6/19/2017 1:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_Comment]
@CommentText nvarchar(255),
@CustommerID int,
@ProductID int 
as
insert into Comments values (@CommentText,@CustommerID,@ProductID)
GO
/****** Object:  StoredProcedure [dbo].[Insert_Customer]    Script Date: 6/19/2017 1:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_Customer]
@UserName nvarchar(255),
@PWD nvarchar(255),
@FirstName  nvarchar(255),
@LastName  nvarchar(255),
@MaritalStatus nvarchar(255),
@Gender nvarchar(255),
@Income float,
@Children float,
@Education nvarchar(255),
@Occupation  nvarchar(255),
@HomeOwner  nvarchar(255),
@Cars float,
@CommuteDistance nvarchar(255),
@Region  nvarchar(255),
@Age  float ,
@Buy nvarchar(255),
@Is_Admin bit
as
INSERT INTO [Mydb].[dbo].[Customers]
           ([UserName]
           ,[PWD]
           ,[FirstName]
           ,[LastName]
           ,[Marital Status]
           ,[Gender]
           ,[Income]
           ,[Children]
           ,[Education]
           ,[Occupation]
           ,[Home Owner]
           ,[Cars]
           ,[Commute Distance]
           ,[Region]
           ,[Age]
           ,[Buy]
           ,[Is_Admin])
     VALUES
           (@UserName
           ,@PWD
           ,@FirstName
           ,@LastName
           ,@MaritalStatus
           ,@Gender
           ,@Income
           ,@Children
           ,@Education
           ,@Occupation
           ,@HomeOwner
           ,@Cars
           ,@CommuteDistance
           ,@Region
           ,@Age
           ,@Buy
           ,@Is_Admin)

GO
/****** Object:  StoredProcedure [dbo].[Insert_Order]    Script Date: 6/19/2017 1:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_Order]
@OrderID nvarchar(255),
@CustomerID int,
@ordDate date
as
insert into Orders values (@OrderID,@CustomerID,@ordDate)
GO
/****** Object:  StoredProcedure [dbo].[Insert_OrdersDetails]    Script Date: 6/19/2017 1:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_OrdersDetails]
@OrderID nvarchar(255),
@ProductID int,
@ProductPrice float
as
insert into OrdersDetails values (@OrderID,@ProductID,@ProductPrice)
GO
/****** Object:  StoredProcedure [dbo].[Insert_Product]    Script Date: 6/19/2017 1:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_Product]

@ProductName nvarchar(255),
@ProductPrice float,
@Manufacturer  nvarchar(255),
@Features  nvarchar(255),
@Description  nvarchar(255),
@CategoryID int,
@ProductID int output
as
INSERT INTO [Mydb].[dbo].[Products]
           ([ProductName]
           ,[ProductPrice]
           ,[Manufacturer]
           ,[Features]
           ,[Description]
           ,[CategoryID])
     VALUES
           (@ProductName
           ,@ProductPrice
           ,@Manufacturer
           ,@Features
           ,@Description
           ,@CategoryID)
           set @ProductID=@@IDENTITY 

GO
/****** Object:  StoredProcedure [dbo].[Insert_Rate]    Script Date: 6/19/2017 1:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_Rate]
@RateValue int,
@ProductID int
as 
insert into Rates values (@RateValue,@ProductID)
GO
/****** Object:  StoredProcedure [dbo].[Update_Category]    Script Date: 6/19/2017 1:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Update_Category]
@CategoryName nvarchar(255),
@CategoryID int 
as
update Categories 
        set CategoryName=@CategoryName 
        where Categories.CategoryID=@CategoryID 
GO
/****** Object:  StoredProcedure [dbo].[Update_Customer_PWD]    Script Date: 6/19/2017 1:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_Customer_PWD]
@CustomerID int ,
@New_PWD nvarchar(50)
as
update Customers 
          set PWD=@New_PWD 
          where Customers.CustomerID=@CustomerID 
GO
/****** Object:  StoredProcedure [dbo].[Update_Product]    Script Date: 6/19/2017 1:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_Product]

@ProductName nvarchar(255),
@ProductPrice float,
@Manufacturer  nvarchar(255),
@Features  nvarchar(255),
@Description  nvarchar(255),
@ProductID int 
as
update [Products]
          set [ProductName]=@ProductName
           ,[ProductPrice] =@ProductPrice
           ,[Manufacturer]=@Manufacturer
           ,[Features]=@Features
           ,[Description]=@Description
       
      where ProductID=@ProductID 

GO
USE [master]
GO
